
body {
  background-color: #000000d8 !important;
}
.container-choose-image{
    display: block;
    margin: 0 auto;
    text-align: center;    
    width: 600px; 
    /* height: 330px; */
    /* border: 3px solid royalblue; */
    margin-bottom: 15px;
    border-radius: 10px;
}
/* background */
.container-content {
  background-size: 100% 100%;
  background-image: radial-gradient(46% 47% at 90% 21%, #FFB06DB5 15%, #073AFF00 100%);
  background-color: #EDEDED;
  box-shadow: rgb(207, 207, 207) 0px 2px 8px;
  border-radius: 5px;
  margin: 20px 120px 50px 120px;
  padding: 3px 20px 25px 20px;
}
.list-result-button{
    display: flow-root;    
    text-align: center;
}
	


#uploadForm{
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.form-group{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.form-group label{
  margin-bottom: 0 !important;  
}
.form-control{
  max-width: 285px;
  margin: 0 10px;
}